@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

:root {
	font-size: 62.5%;
}

body {
	font-family: 'Source Sans Pro', sans-serif !important;
	font-size: 1.9rem;
}

body {
	/*background-color: #2b2b2b;*/
	background-color: #FDFFFC!important;
}

#mainContent {

}


/* Nav */
.navbar-brand {
	padding: 1.6rem 2.4rem;
	margin-right: 0;
	/*color: #FDFFFC!important;*/
	color: #2b2b2b;
	font-size: 4rem;
}

/*
 * Login CSS
 */
.loginModule {
	margin-top: 5rem;
	padding: 2rem;
	color: #2b2b2b;
}

hr {
	border-top: 0.1rem solid #2b2b2b;;
	margin-bottom: 1rem;
}

/* Forms */
label {
	margin-right: 10px;
}
.form-control {
	font-size: 1.6rem;
}

/* Button */
.btn {
	font-size: 1.6rem;

}



.margin-top-md {
	margin-top: 1rem;
}

/* Colors */
.bg-color1 {
	background-color: #011627!important;
}
.bg-color2 {
	/*background-color: #FF0022!important;*/
	background-color: rgba(255, 0, 34, 0.8)!important;
}
.bg-color3 {
	background-color: #41EAD4!important;
}
.bg-color4 {
	background-color: #FDFFFC!important;
}
.bg-color5 {
	background-color: #2E86C1!important;
}
